<div class="pasties-list border-2 mt-4 mb-6 mx-4 p-4" 
    x-model="active_pastie"
    @click="console.log(active_pastie)"
>
    <div class="title" x-text="active_pastie.title"></div>
    <div class="pastie-contents">
        <pre class="font-mono" x-text="active_pastie.content"></pre>
    </div>
    <div class="pastie-meta">
        <div class="pastie-created" x-text="active_pastie.time_posted.date"></div>
        <div class="pastie-type" x-text="active_pastie.content_type"></div>
    </div>
</div>
