<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pasties</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="font-default">
  <include href="../templates/partials/header.html" />
  <main id="pasties-container">
    <div class="pasties-list">
      <include href="../templates/partials/pasties-sidebar.html" />
    </div>
    <div class="pasties-display">
      <include href="../templates/partials/pasties-display.html" />
    </div>
    <section class="button-container">
      <button class="add-pastie" type="button" name="add-pastie">New Pastie</button>
    </section>
    <section class="new-pastie">
      <h2 class="new-pastie-header">New Pastie</h2>
      <div class="pastie-form">
        <div class="pastie-title">
          <label for="pastie-title">Title:
            <input type="text" placeholder="Title">
          </label>
        </div>
      </div>
    </section>
  </main>
  <include href="../templates/partials/footer.html" />
</body>
</html>